.page {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {

  .main {
    align-items: center;
  }

}