.logoWrapper {
  position: absolute;
  width: 120px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.4s ease;
}

.top-left {
  top: 20px;
  left: 20px;
}

.top-right {
  top: 20px;
  right: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
