.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid black;
  padding: 5px 0;

  z-index: 9999;

  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
}

.symbol {
  font-weight: bold;
}

.price {
  color: black;
}

.up {
  color: #0c8a00;
}

.down {
  color: #cc0000;
}

.neutral {
  color: black;
}

.price :global(.sub) {
  font-size: 0.65em;
  vertical-align: sub;
  opacity: 0.8;
  position: relative;
  top: 2px;
}