.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid black;
  padding: 14px 0;

  z-index: 9999;

  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.2rem;
}

.symbol {
  font-weight: bold;
}

.price {
  color: black;
}

.up {
  color: #0c8a00;
}

.down {
  color: #cc0000;
}

.neutral {
  color: black;
}
