.wrapper {
  width: 100vw;
  overflow: hidden;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
}

.scroller {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.item {
  display: inline-flex;
  gap: 8px;
  padding: 0 32px;
  font-size: 20px;
  line-height: 32px;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Flash colors */
.up {
  background: #d3ffd3;
}
.down {
  background: #ffd3d3;
}
.neutral {
  background: white;
}

.symbol {
  font-weight: bold;
}

.price {
  font-weight: 400;
}

.change {
  font-size: 0.8rem;
}

.price :global(.sub) {
  font-size: 0.65em;
  vertical-align: sub;
  opacity: 0.8;
  position: relative;
  top: 2px;
}